a {
	color: fuchsia;
}

a:hover {
	color: white;
}

body {
    padding: 2em;
    background-color: #000032;
	font-family: monospace;
	color: white;
	align-content: center;
}

p {
	margin-top: 3em;
	margin-bottom: 3em;
}

#kf-logo {
	white-space: pre-wrap;
}

.sparkley {

  background: lighten( $buttonBackground , 10% );
  color: $buttonColor;
  border: none;

  padding: 16px 36px;
  font-weight: normal;
  
  border-radius: 3px;
  transition: all 0.25s ease;
  
  box-shadow: 0 38px 32px -23px black;
  margin: 0 1em 1em;
  
  &:hover {
   
    background: $buttonBackground;
    color: transparentize( $buttonColor,0.8 );
    
  }
  
}